<!-- tutor-login.html -->
{% extends "base.html" %}

{% block content %}

<h2>Tutor Login</h2>

<form id="tutor-login-form">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Login</button>
</form>

<div id="tutor-login-form-message"></div>

<script>
    document.getElementById('tutor-login-form').addEventListener('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch('/tutor-login', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Successful login") {
                    window.location.href = `/tutor-${data.tutor_id}-account`;
                }
                else {
                    document.getElementById('tutor-login-form-message').textContent = data.message;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>

<a href="/">Back to Home</a>

{% endblock %}